<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.grobo.notifications">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".survey.SurveyDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".profile.UserProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.notify.NewNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.clubevents.ClubEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.WebActivity"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/WebViewStyle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity android:name=".services.complaints.ComplaintsActivity" />
        <activity
            android:name=".utils.ImageViewerActivity"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/zoomStyle" />
        <activity
            android:name=".feed.addfeed.AddFeedActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".admin.XPortal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.XPortal" />
        </activity>
        <activity
            android:name=".admin.XPortal"
            android:label="Admin Portal"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".services.agenda.AgendaActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".services.lostandfound.LostAndFoundActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".account.ProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".account.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".timetable.TimetableActivity"
            android:label="@string/title_activity_timetable"
            android:launchMode="singleTop"
            android:parentActivityName=".main.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="iitpapp.herokuapp.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="iitpapplication.web.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feed.FeedDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clubs.ClubDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.clubevents.ClubEventDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clubs.EditClubDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".admin.clubevents.EditClubEventDetailActivity" />

        <service
            android:name=".notifications.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
        </service>
        <service android:name=".todolist.ReminderNotificationService" />

        <receiver android:name=".todolist.ReminderBroadcastReceiver" />
    </application>

</manifest>